* {
    margin: 0;
    padding: 0;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background-color: #012340;
}

.wrapper {
    width: 1100px;
    margin: auto;
}

header {
    height: 100px;
    width: 100%;
}

.logo {
    width: 150px;
    height: 80px;
    margin-top: 10px;
    float: left;
}

.logo img {
    width: 150px;
    height: 80px;
}

.m-heading {
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 0 0 20px;
    line-height: 100px;
    float: left;
}

.searchbar {
    float: right;
    margin-top: 30px;
}

.sbar {
    background-color: #048ABF;
    float: left;
    height: 40px;
    width: 250px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 15px;
}

.fa-search {
    float: left;
    margin: 15px 0 0 10px;
}

.navbar {
    background: #011526;
    width: 100%;
    height: 50px;
}

.nav-item {
    float: left;
    line-height: 30px;
    font-size: larger;
    width: 100px;
    height: 30px;
    margin-right: 15px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
}

.nav-item a {
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    display: block;
}

.nav-item a:hover {
    text-decoration: underline;
}

.ihover:hover,
.current {
    background: #023E73;
}

.container1 {
    height: 400px;
    margin: 10px 0;
}

.slider {
    border: 2px solid black;
    height: 400px;
    width: 100%;
}

.container2 {
    width: 100%;
    height: 750px;
    margin: 10px 0;
}

.sidebar {
    background-color: #011526;
    height: 750px;
    width: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
}

.side-wrapper {
    width: 200px;
    margin: auto;
}

.sidebar h2 {
    text-align: center;
    padding: 5px 0;
    border-bottom: 3px solid #023E73;
    width: 200px;
}

.sidebar ul {
    list-style: none;
    text-align: center;
}

.sidebar ul li {
    margin: auto;
    margin-top: 25px;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.sidebar ul li a {
    height: 40px;
    box-sizing: border-box;
    display: block;
}

section {
    width: 850px;
    height: 750px;
    float: left;
}

.game {
    background: #048ABF;
    width: 850px;
    height: 500px;
}

.sec-wrapper {
    width: 800px;
    margin: 10px auto;
}

footer {
    border-top: #011526 2px solid;
    margin: 20px 0;
    padding: 20px 0;
    text-align: center;
}

.links {
    margin-top: 15px;
}

footer a:hover {
    text-decoration: underline;
}


/* FOR GAME.HTML */

table {
    width: 100%;
    height: 100%;
}

td {
    width: 400px;
    height: 140px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 21px;
    border: solid 1px #023E73;
}

td h2 {
    line-height: 140px;
}

.thumbnail {
    width: 100px;
    height: 100px;
    float: left;
    margin: 20px 10px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
}

tr a:hover {
    border-bottom: white 1px solid;
}